.title_section {
  width: 100%;
  margin: 20px;
}
.recipie_header {
  width: 80%;
  display: flex;
}
.false {
  display: none;
}
.information {
  margin-left: 20px;
  background-color: #c4beb2;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  max-width: 230px;
}
.tag {
  background-color: #2fb63a;
  color: white;
  padding: 5px;
  border-radius: 1em;
  width: fit-content;
  margin-bottom: 5px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
}
.info_list {
  list-style: none;
}
/*recipie stuff*/
.recipie_section {
  width: 100%;
  box-shadow: 0 0px 10px;
  display: flex;
}
.recipie_container {
  display: flex;
  margin: 20px;
}

.ingredients {
  margin-right: 20px;
  border: solid;
}

.instruction_list {
  list-style: none;
  margin-top: 20px;
  margin-left: 25px;
}
li {
  counter-increment: inst;
  margin-bottom: 30px;
  position: relative;
}
.instruction_list li::before {
  content: counter(inst);
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(146, 200, 121, 0.432);
  padding-right: 0.3em;
  padding-left: 0.3em;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: -20px;
  left: -25px;
}

#ingredientList {
  border-collapse: collapse;
}
#ingredientList td {
  padding: 5px;
}
#ingredientList tr:nth-child(even) {
  background-color: #f2f2f2;
}
