@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

.error {
  font-size: 35px;
  padding: 20px;
}
/*nav*/
header {
  position: sticky;
  top: 0;
}
nav {
  width: 100%;
  height: 60px;
  box-shadow: 0 5px 5px;
  background-color: #cec29b;
}

.nav {
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
}
.nav_link {
  text-decoration: none;
  color: white;
  background-color: #569b1e;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
}

/*hero*/
.hero-image {
  background-image: url(../images/Kitchen.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
#searchBox {
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  border: solid #569b1e;
}
