* {
  margin: 0;
  padding: 0;
}

/*nav*/
header {
  position: sticky;
  top: 0;
}
nav {
  width: 100%;
  height: 60px;
  box-shadow: 0 5px 5px;
  background-color: #cec29b;
}

.nav {
  display: flex;
  list-style: none;
}
.nav_link {
  text-decoration: none;
  color: white;
  background-color: #adaca9;
}

/*hero*/
.hero-image {
  background-image: url(images/Kitchen.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
#searchBox {
  border-radius: 10px;
  padding: 10px;
  width: 300px;
}

/*search page*/

/*search results*/

.search_results {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin: 2%;
}
.result_image {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .result {
    width: 30%;
    margin: 1.5%;
  }
}
@media only screen and (max-width: 600px) {
  .result {
    width: 90%;
    margin: 5%;
  }
}
